:root {
    --Brand-color: #027298;
    --active: #025F7F;
    --color-Dark: #222222;
}


.groudLink {
    background-color: #EAFAFF;
    border: 2px solid #68B5FB;
    padding: 4px;
    color: #222222;

    .groudLink-heading {
        width: 100%;
        background-color: var(--Brand-color);
        padding: 8px 12px;

        .groudLink_title {
            color: #FFFFFF;
            line-height: 22.4px;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    .taskbar-groudLink_list {
        li {

            // list-style-image: url('../../images/content/svg/iconLink.svg');
            &::marker {
                color: var(--Brand-color);
                font-size: 16px;
            }
        }

        a {
            color: var(--Brand-color) !important;
        }
    }
}

.title a {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-Dark);
    margin-bottom: 5px;
}

.news-list {
    padding-left: 17px;
    color: #68B5FB;
}

.border-right {
    border-right: 1px solid #F2F2F2;
}

.content {
    margin-top: 16px;
    padding: 0;
    display: flex;

    .taskbar {
        width: 170px;
        margin-right: 20px;

        .taskbar-menu {

            .taskbar-menu-nav {
                margin: 0;
                padding: 0px;
                width: 170px;
                left: 0px;
                top: 0px;
            }

            .taskbar-menu-list {
                background-color: var(--Brand-color);
                list-style: none;
                min-height: 38px;
                display: flex;
                align-items: center;
                margin-bottom: 1px;
                padding: 8px 16px;
                border-left: 4px solid #56A1BA;

                &:hover {
                    background-color: var(--active);
                    border-left: 4px solid rgba(255, 255, 255, 0.8);

                }
            }

            .taskbar-menu_link {
                color: #FFFFFF;
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                display: block;
                text-decoration: none;
            }



        }
    }

    .hotNews-img {
        // background-image: url(../../image/image2.png);
        background-repeat: no-repeat;
        position: relative;

        .hotNews-img_title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            left: 0;
            right: 0;
            bottom: 0;
            height: 87px;
            background: rgba(1, 57, 76, 0.6);
            position: absolute;
            margin: 0px 8px;


            &::before {
                content: 'Tin mới nhất';
                color: #FFFFFF;
                position: absolute;
                line-height: 38px;
                height: 38px;
                top: -38px;
                width: 120px;
                padding-left: 8px;
                background: rgba(215, 115, 43, 0.9);
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
                margin-right: 8px;
            }
            &::after {
                content: '';
                position: absolute;
                top: -38px;
                left: 120px;
                border-top:19px solid transparent;
                border-left:8px solid rgba(215, 115, 43, 0.9);;
                border-right:19px solid transparent;
                border-bottom:19px solid transparent;
            }

        }
    }

    .hotNew {

        .hotNew-title {
            a {
                text-decoration: none;
                color: #222222;
                font-size: 16px;
                font-weight: 700;
            }
        }

        .hotNew-desc a {
            font-weight: 400;
            font-size: 14px;
            color: #454545;
            line-height: 19.6px;
        }

        .hotNew-list {}

        .hotNew-item a {
            font-weight: 400;
            font-size: 14px;
            color: var(--color-Dark);
        }

    }

    .newsSeeMore {
        display: flex;
        flex-wrap: wrap;

        .newsSeeMore-list {
            padding: 5px 0;
            border-right: 1px solid #E2E2E2;

            .newsSeeMore-code {
                background-color: #F2F2F2;
                padding: 0 8px;
                color: var(--Brand-color);
                font-size: 32px;
                line-height: 38.4px;
                font-weight: 700;
                position: absolute;
            }

            a {
                font-size: 14px;
                line-height: 140%;
                align-items: Left;
                vertical-align: Top;
                margin-left: 45px;
            }
        }

        .newsSeeMore-code {}
    }


    .sidebar-right {
        .linkmap {
            padding: 8px;
            border-radius: 4px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        }

        .sidebar-banner {
            padding: 8px;
            background: #FFFFFF;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        }

        .statistical span {
            font-size: 14px;
            font-weight: 400;
            color: #222222;

        }

    }

    .PhotoLibrary-img {
        position: relative;

        &::before {
            content: 'Thành phố năng động và sáng tạo';
            color: #FFFFFF;
            z-index: 1;
            position: absolute;
            height: 48px;
            line-height: 48px;
            background: rgba(1, 57, 76, 0.6);
            margin: 0 15px 0 8px;
            padding-left: 18px;
            left: 0;
            bottom: 0;
            right: 0;
            font-weight: 700;
        }
    }
}

// heading
.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 43px;
    line-height: 43px;
    padding-left: 5px;
    background: #F1FCFF;
    box-shadow: 0px 3px 0px #DDF2FA;
    position: relative;
    margin-bottom: 16px;

    h6 {
        color: var(--Brand-color);
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        left: 35px;
        top: 12px;
        font-size: 18px;
    }

    .heading-icon_right {
        position: absolute;
        right: 14px;
    }

    img {
        width: 25px;
    }

}