<header class="header" id="header">

  <div class="header-top">
    <div class="header-top_left d-flex">
      <div class="header-top_icon">
        <img src="../../images/content/svg/Group1.svg" alt="">
      </div>
      <span class="header-top_date">Thứ 6 ngày 22/8/2022</span>
    </div>
    <div class="header-top_right">
      <span class="header-top_time">8:30:</span>
      <span class="header-top_text">Họp trực tuyến với BQL dự án 85 của Bộ Giao thông vận tải</span>
    </div>
  </div>
  <div class="header-baner">
    <img src="../../images/content/Rectangle13.png" alt="">
    <div>
      <div class="header-baner_logo">
        <img src="../../images/content/Ellipse2.png" alt="">
      </div>
      <div>
        <h2 class="header-baner_title">Trung Tâm Lưu Trữ Lịch Sử Tỉnh Phú Yên</h2>
      </div>
    </div>

  </div>
  <div class="header-menu">
    <div class="header-nav">
      <ul class="header-navbar_nav">
        <li class="header-list active">
          <a href="#" class="nav-link"><img src="../../images/content/svg/icon.svg" alt=""> trang chủ </a>
        </li>
        <li class="header-list ">
          <a href="#" class="nav-link">giới thiệu</a>
        <li class="header-list">
          <a href="#" class="nav-link">tin tức chuyên ngành</a>
        </li>
        <li class="header-list">
          <a href="#" class="nav-link">tin tức khác
            <img src="../../images/content/svg/Vector.svg" alt="">
          </a>
          
        </li>
        <li class="header-list">
          <a href="#" class="nav-link">hỏi đáp</a>
        </li>
      </ul>
    </div>
    <div class="heder-search">
      <form class="d-flex heder-search_form me-4">
        <input class="form-control heder-search_input me-1" type="search" placeholder="Từ khóa tìm kiếm"
          aria-label="Search">
        <button class="btn heder-search_btn" type="submit"><img src="../../images/content/Group6.png" alt=""></button>
      </form>
    </div>
  </div>
</header>