<section class="section-eden">
  <div class="content">
    <div class="taskbar">
      <div class="taskbar-menu mb-12">
        <ul class="taskbar-menu-nav">
          <li class="taskbar-menu-list ">
            <a href="#" class="taskbar-menu_link">Cơ cấu tổ chức</a>
          </li>
          <li class="taskbar-menu-list">
            <a href="#" class="taskbar-menu_link">Chức năng nhiệm vụ</a>
          </li>
          <li class="taskbar-menu-list">
            <a href="#" class="taskbar-menu_link">Sự hình thành và phát triển</a>
          </li>
          <li class="taskbar-menu-list">
            <a href="#" class="taskbar-menu_link">Danh bạ</a>
          </li>
          <li class="taskbar-menu-list">
            <a href="#" class="taskbar-menu_link">Lịch công tácc</a>
          </li>
        </ul>
      </div>
      <div>
        <div class="mb-4">
          <a href="#"><img src="../images/content/cong+bao+tinh+phu+yen.png" alt=""></a>
        </div>
        <div class="mb-4">
          <img src="../images/content/duong+day+nong.png" alt="">
        </div>
        <div class="mb-4">
          <img src="../images/content/vnchidaodieuhanh.png" alt="">
        </div>
        <div class="mb-4">
          <img src="../images/content/r5.png" alt="">
        </div>
      </div>
      <div class="groudLink mt-12">
        <div class="groudLink-heading mb-12">
          <p class="text-uppercase groudLink_title">liên kết website
        </div>
        <div class="taskbar-groudLink_list">
          <ul>
            <li class="mb-4">
              <a href="#">UBND Tỉnh Phú Yên</a>
            </li>
            <li class="mb-4">
              <a href="#">Sở NN&PTNT Phú Yên</a>
            </li>
            <li class="mb-4">
              <a href="#">Khu Nông nghiệp công nghệ cao Tp. Phú Yên</a>
            </li>
            <li class="mb-4">
              <a href="#">Bộ NN-PTNT</a>
            </li>
            <li class="mb-4">
              <a href="#">Trung tâm Khuyến nông Phú Yên</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mb-16">
        <div class="col-8 pe-4 hotNews-img">
          <img src=".././/images/content/image2.png" alt="">
          <div class="hotNews-img_title"></div>
        </div>
        <div class="col-4 pe-0">
          <div class="hotNew">
            <div class="hotNew-heading  heading">
              <img src="../images/content/Ellipse2.png" alt="">
              <h6>Tin nổi bật</h6>
            </div>
            <div>
              <div class="hotNew-title title">
                <a href="#" class="hotNew-title">Hơn 2 tỷ USD đổ vào thị trường chứng khoán trong
                  một phiên</a>
              </div>
              <div class="hotNew-desc mb-16">
                <a href="#">Thanh khoản lập kỷ lục mới trong phiên thị trường bị bán tháo, với tổng
                  giá trị giao dịch hai sàn niêm ...</a>
              </div>
              <div class="mb-16">
                <ul class="news-list">
                  <li class="hotNew-item mb-16 "><a href="#">Giải pháp công nghệ phòng,
                      chống dịch Covid-19 trong tình hình mới...</a></li>
                  <li class="hotNew-item mb-16"><a href="#">Chính phủ ban hành quy định
                      mới về đánh giá, xếp loại chất lượng cán bộ, công chức, ...</a></li>
                  <li class="hotNew-item mb-16"><a href="#">Kế hoạch tổ chức các hoạt động
                      chào mừng kỷ niệm 76 năm ngày thành lập...,</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div>
        <div class=" heading">
          <img src="../images/content/Ellipse2.png" alt="">
          <h6>Tin xem nhiều</h6>
        </div>
        <div class="container newsSeeMore">
          <div class="row mb-24">
            <div class="col-4 newsSeeMore-list d-flex">
              <div class="newsSeeMore-code">1</div>
              <a href="#">Đoàn công tác Bộ Nội vụ làm việc tại tỉnh Phú Yên</a>
            </div>
            <div class="col-4 newsSeeMore-list d-flex">
              <div class="newsSeeMore-code">2</div>
              <a href="#">Chính phủ ban hành quy định mới về đánh giá, xếp loại chất lượng cán bộ,
                công chức, viên chức</a>
            </div>
            <div class="col-4 newsSeeMore-list d-flex">
              <div class="newsSeeMore-code">3</div>
              <a href="#">Kết quả thực hiện nhiệm vụ Tổng điều tra cơ sở hành chính năm 2021</a>
            </div>
            <div class="col-4 newsSeeMore-list d-flex">
              <div class="newsSeeMore-code">4</div>
              <a href="#">Đoàn công tác Bộ Nội vụ làm việc tại tỉnh Phú Yên</a>
            </div>
            <div class="col-4 newsSeeMore-list d-flex">
              <div class="newsSeeMore-code">5</div>
              <a href="#">Chính phủ ban hành quy định mới về đánh giá, xếp loại chất lượng cán bộ,
                công chức, viên chức</a>
            </div>
            <div class="col-4 newsSeeMore-list d-flex">
              <div class="newsSeeMore-code">6</div>
              <a href="#">Kết quả thực hiện nhiệm vụ Tổng điều tra cơ sở hành chính năm 2021</a>
            </div>
          </div>
        </div>
        <div class=" d-flex mb-24">
          <div class="me-3">
            <img src="../images/content/Rectangle7.png" alt="">
          </div>
          <div>
            <img src="../images/content/Rectangle6.png" alt="">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mb-20">
          <div class="col-8 ps-0 pe-4">
            <div class="mb-20">
              <div class=" heading">
                <img src="../images/content/Ellipse2.png" alt="">
                <img src="../images/content/svg/icon2.svg" class="heading-icon_right" alt="">
                <h6>Tin tức chuyên ngành</h6>
              </div>
              <div>
                <div class="row">
                  <div class="col-7 pe-4 border-right">
                    <a href="#"><img src="../images/content/5-3.png" width="100%" height="auto" alt=""></a>
                    <div>
                      <h6 class="mb-5 mt-10 title"><a href="#">Hơn 2 tỷ USD đổ vào thị trường
                          chứng
                          khoán trong một phiên</a></h6>
                      <p>Thanh khoản lập kỷ lục mới trong phiên thị trường bị bán tháo, với
                        tổng
                        giá trị giao dịch hai sàn niêm ...</p>
                    </div>
                  </div>
                  <div class="col-5 ps-4">
                    <ul class="news-list">
                      <li class=" mb-16"><a href="#">Kết quả thực hiện nhiệm vụ Tổng điều tra
                          cơ
                          sở hành chính năm 2021</a></li>
                      <li class=" mb-16"><a href="#">Đoàn công tác Bộ Nội vụ làm việc tại tỉnh
                          Phú
                          Yên</a></li>
                      <li class=" mb-16"><a href="#">Giao nhận 472 hồ sơ, kỷ vật của cán bộ đi
                          B
                          tỉnh Phú Yên</a></li>
                      <li class=" mb-16"><a href="#">Bộ Nội vụ tổ chức Đại hội thi đua yêu
                          nước
                          lần thứ IV</a></li>
                      <li class=" mb-16"><a href="#">Phó Chủ tịch UBND tỉnh thăm, chúc mừng
                          các tổ
                          chức tôn giáo nhân Đại Lễ Phật đản, Phật lịch 2565</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-20">
              <div class=" heading">
                <img src="../images/content/Ellipse2.png" alt="">
                <img src="../images/content/svg/icon2.svg" class="heading-icon_right" alt="">
                <h6>Cải cách hành chính</h6>
              </div>
              <div>
                <div class="row">
                  <div class="col-7 pe-4 border-right">
                    <a href="#"> <img src="../images/content/5-4.png" width="100%" height="auto" alt=""></a>
                    <div>
                      <h6 class="mb-5 mt-10 title"><a href="#">Hơn 2 tỷ USD đổ vào thị trường
                          chứng
                          khoán trong một phiên</a></h6>
                      <p>Thanh khoản lập kỷ lục mới trong phiên thị trường bị bán tháo, với
                        tổng
                        giá trị giao dịch hai sàn niêm ...</p>
                    </div>
                  </div>
                  <div class="col-5 ps-4">
                    <ul class="news-list">
                      <li class=" mb-16"><a href="#">Kết quả thực hiện nhiệm vụ Tổng điều tra
                          cơ
                          sở hành chính năm 2021</a></li>
                      <li class=" mb-16"><a href="#">Đoàn công tác Bộ Nội vụ làm việc tại tỉnh
                          Phú
                          Yên</a></li>
                      <li class=" mb-16"><a href="#">Giao nhận 472 hồ sơ, kỷ vật của cán bộ đi
                          B
                          tỉnh Phú Yên</a></li>
                      <li class=" mb-16"><a href="#">Bộ Nội vụ tổ chức Đại hội thi đua yêu
                          nước
                          lần thứ IV</a></li>
                      <li class=" mb-16"><a href="#">Phó Chủ tịch UBND tỉnh thăm, chúc mừng
                          các tổ
                          chức tôn giáo nhân Đại Lễ Phật đản, Phật lịch 2565</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-20">
              <div class=" heading">
                <img src="../images/content/Ellipse2.png" alt="">
                <img src="../images/content/svg/icon2.svg" class="heading-icon_right" alt="">
                <h6>hệ thống vbql</h6>
              </div>
              <div>
                <div class="row">
                  <div class="col-7 pe-4 border-right">
                    <a href="#"><img src="../images/content/5-7.png" width="100%" height="auto" alt=""></a>
                    <div>
                      <h6 class="mb-5 mt-10 title"><a href="#">Hơn 2 tỷ USD đổ vào thị trường
                          chứng
                          khoán trong một phiên</a></h6>
                      <p>Thanh khoản lập kỷ lục mới trong phiên thị trường bị bán tháo, với
                        tổng
                        giá trị giao dịch hai sàn niêm ...</p>
                    </div>
                  </div>
                  <div class="col-5 ps-4">
                    <ul class="news-list">
                      <li class=" mb-16"><a href="#">Kết quả thực hiện nhiệm vụ Tổng điều tra
                          cơ
                          sở hành chính năm 2021</a></li>
                      <li class=" mb-16"><a href="#">Đoàn công tác Bộ Nội vụ làm việc tại tỉnh
                          Phú
                          Yên</a></li>
                      <li class=" mb-16"><a href="#">Giao nhận 472 hồ sơ, kỷ vật của cán bộ đi
                          B
                          tỉnh Phú Yên</a></li>
                      <li class=" mb-16"><a href="#">Bộ Nội vụ tổ chức Đại hội thi đua yêu
                          nước
                          lần thứ IV</a></li>
                      <li class=" mb-16"><a href="#">Phó Chủ tịch UBND tỉnh thăm, chúc mừng
                          các tổ
                          chức tôn giáo nhân Đại Lễ Phật đản, Phật lịch 2565</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-20">
              <div class=" heading">
                <img src="../images/content/Ellipse2.png" alt="">
                <img src="../images/content/svg/icon2.svg" class="heading-icon_right" alt="">
                <h6>quản lý tài liệu điện tử</h6>
              </div>
              <div>
                <div class="row">
                  <div class="col-7 pe-4 border-right">
                    <a href="#">
                      <img src="../images/content/5-6.png" width="100%" height="auto" alt="">
                    </a>
                    <div>
                      <h6 class="mb-5 mt-10 title"><a href="#">Hơn 2 tỷ USD đổ vào thị trường
                          chứng
                          khoán trong một phiên</a></h6>
                      <p>Thanh khoản lập kỷ lục mới trong phiên thị trường bị bán tháo, với
                        tổng
                        giá trị giao dịch hai sàn niêm ...</p>
                    </div>
                  </div>
                  <div class="col-5 ps-4">
                    <ul class="news-list">
                      <li class=" mb-16"><a href="#">Kết quả thực hiện nhiệm vụ Tổng điều tra
                          cơ
                          sở hành chính năm 2021</a></li>
                      <li class=" mb-16"><a href="#">Đoàn công tác Bộ Nội vụ làm việc tại tỉnh
                          Phú
                          Yên</a></li>
                      <li class=" mb-16"><a href="#">Giao nhận 472 hồ sơ, kỷ vật của cán bộ đi
                          B
                          tỉnh Phú Yên</a></li>
                      <li class=" mb-16"><a href="#">Bộ Nội vụ tổ chức Đại hội thi đua yêu
                          nước
                          lần thứ IV</a></li>
                      <li class=" mb-16"><a href="#">Phó Chủ tịch UBND tỉnh thăm, chúc mừng
                          các tổ
                          chức tôn giáo nhân Đại Lễ Phật đản, Phật lịch 2565</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-20">
              <div class=" heading">
                <img src="../images/content/Ellipse2.png" alt="">
                <img src="../images/content/svg/icon2.svg" class="heading-icon_right" alt="">
                <h6>Thư viện ảnh</h6>
              </div>
              <div class="PhotoLibrary">
                <div class="row">
                  <div class="col-9 pe-4 border-end PhotoLibrary-img">
                    <img  src="../images/content/101.png" alt="">
                  </div>
                  <div class="col-3 ps-4 overflow-hidden">
                    <div class="mb-4">
                      <img src="../images/content/91.png" alt="">
                    </div>
                    <div class="mb-4">
                      <img src="../images/content/91.png" alt="">
                    </div>
                    <div class="mb-4">
                      <img src="../images/content/91.png" alt="">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 pe-0 sidebar-right ">
            <div class="mb-2">
              <div class="linkmap mb-12">
                <a href="#"><img src="../images/content/Bando_PY1.png" alt=""></a>
              </div>
              <div class="videoLibrary groudLink mb-12">
                <div class="groudLink-heading">
                  <p class="text-uppercase groudLink_title">Thư viện video</p>
                </div>
                <div>
                  <iframe src="https://youtube.com/embed/AZztxE81JkI" width="100%" height="100%"></iframe>
                </div>
              </div>
            </div>
            <div class="sidebar-banner mb-12">
              <div class="mb-10">
                <a href="#"><img src="../images/content/tra-cuu-thu-tuc-hanh-chinh-2.png" alt=""></a>
              </div>
              <div class="mb-10">
                <a href="#"><img src="../images/content/danh_sach_phat_ngon_bao_chi.png" alt=""></a>
              </div>
              <div class="mb-10">
                <a href="#"><img src="../images/content/r2.png" alt=""></a>
              </div>
              <div class="mb-10">
                <a href="#"><img src="../images/content/cong+bao+nc+vn.png" alt=""></a>
              </div>
              <div class="mb-10">
                <a href="#"><img src="../images/content/bualiemvang.png" alt=""></a>
              </div>
              <div class="">
                <a href="#"><img src="../images/content/congbao.png" alt=""></a>
              </div>
            </div>
            <div class="mb-12">
              <div class="groudLink">
                <div class="groudLink- mb-2">
                  <p class="text-uppercase groudLink_title">Thông kê truy cập</p>
                </div>
                <div class="statistical p-8">
                  <div class="row mb-12">
                    <div class="col-6 d-flex">
                      <img class="pe-3 align-top w-auto" src="../images/content/svg/a.svg" alt="">
                      <span>Đang truy cập</span>
                    </div>
                    <div class="col-6">
                      <span>12</span>
                    </div>
                  </div>
                  <div class="row mb-12">
                    <div class="col-6 d-flex">
                      <img class="pe-3 align-top w-auto" src="../images/content/svg/b.svg" alt="">
                      <span>Hôm nay</span>
                    </div>
                    <div class="col-6">
                      <span>398492</span>
                    </div>
                  </div>
                  <div class="row mb-12">
                    <div class="col-6 d-flex">
                      <img class="pe-3 align-top w-auto" src="../images/content/svg/c.svg" alt="">
                      <span>Tháng hiện nay</span>
                    </div>
                    <div class="col-6">
                      <span>11231232</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 d-flex">
                      <img class="pe-3 align-top w-auto" src="../images/content/svg/d.svg" alt="">
                      <span>tổng</span>
                    </div>
                    <div class="col-6">
                      <span>123123123</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>